1) Import Libraries
2) Import Data
3) Task
    - PII Data Implications
        - first_name and surname columns dropped
    - Create regional segmentation of the data
        - Used lists and For-loop
    - Determine difference in ordering habits of regions
    - Create exclusion flag for low-activity customers
    - Create dataframe without those customers
    - Exported new dataframe
    - Create customer profiling variable (used loc() function)
    - Exported new dataframe with customer profiles

# 01 Import Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02 Import Data

In [2]:
path = r'C:\Users\benar\CareerFoundry\09-2023 Instacart Basket Analysis'

In [3]:
ords_prods_cust_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_cust_merged.pkl'))

In [4]:
ords_prods_cust_merge.head()

,user_id,first_name,surname,gender,state,age,n_dependants,fam_status,income,product_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag,median_order_frequency,order_frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,196,...,Mid-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,196,...,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,196,...,Mid-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,6184,...,Low-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,6184,...,Low-range product,Regularly busy,Slowest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer

In [5]:
ords_prods_cust_merge.shape

(32404859, 31)

# 03 Task

## PII Data Implications

Names have PII implications and they are not necessary for analysis. They will be dropped.

In [6]:
# Dropping 'first_name' and 'surname' columns
ords_prods_merge = ords_prods_cust_merge.drop(['first_name', 'surname'], axis=1)

In [7]:
#3 Create a regional segmentation of the data.

# Create Northwest Region list
NorthE_region = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']

In [8]:
# Create Midwest Region list
MidW_region = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [9]:
# Create South Region list
South_region = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

In [10]:
# Create West Region list
West_region = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [11]:
result = []

for place in ords_prods_merge["state"]:
  if place in NorthE_region:
    result.append("Northeast")
  elif place in MidW_region:
    result.append("Midwest")
  elif place in South_region:
    result.append("South")
  elif place in West_region:
    result.append("West")

In [12]:
ords_prods_merge['region'] = result

In [13]:
#Checking creation of new variable 
ords_prods_merge.head()

,user_id,gender,state,age,n_dependants,fam_status,income,product_id,product_name,aisle_id,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag,median_order_frequency,order_frequency_flag,region
0,26711,Female,Missouri,48,3,married,165665,196,Soda,77,...,Regularly busy,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest
1,26711,Female,Missouri,48,3,married,165665,196,Soda,77,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest
2,26711,Female,Missouri,48,3,married,165665,196,Soda,77,...,Regularly busy,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest
3,26711,Female,Missouri,48,3,married,165665,6184,Clementines,32,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest
4,26711,Female,Missouri,48,3,married,165665,6184,Clementines,32,...,Regularly busy,Slowest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest

In [14]:
ords_prods_merge['region'].value_counts(dropna = False)

region
South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: count, dtype: int64

In [15]:
# Determine whether there’s a difference in spending habits between the different U.S. regions.
crosstab = pd.crosstab(ords_prods_merge['region'], ords_prods_merge['spender_flag'], dropna = False)

In [16]:
crosstab

spender_flag  High spender  Low spender
region
Midwest              29265      7568060
Northeast            18642      5704094
South                40579     10751306
West                 31242      8261671

In [17]:
# Midwest region 'High spender' percentage vs whole value count above
(26265/7597325) * 100

0.345713787418598

In [18]:
# Northeast region 'High spender' percentage vs whole value count above
(18642/5722736) * 100

0.3257532760553693

In [19]:
# South region 'High spender' percentage vs whole value count above
(40579/10791885) * 100

0.3760140142338433

In [20]:
# West region 'High spender' percentage vs whole value count above
(31242/8292913) * 100

0.37673131262802345

West and South regions have higher percentage of high spenders than other regions. Northeast region has largest percentage of Low spenders. These differences are so small though that they don't really display much variance in spending/ordering habits.

In [21]:
#4 Create an exclusion flag for low-activity customers (customers with less than 5 orders)
ords_prods_merge.loc[ords_prods_merge['max_order'] < 5, 'exclusion_flag'] = 'Exclude'

In [22]:
ords_prods_merge.loc[ords_prods_merge['max_order'] >= 5, 'exclusion_flag'] = 'Include'

In [23]:
ords_prods_merge['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
Include    30964564
Exclude     1440295
Name: count, dtype: int64

In [24]:
ords_prods_merge.head()

,user_id,gender,state,age,n_dependants,fam_status,income,product_id,product_name,aisle_id,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spender_flag,median_order_frequency,order_frequency_flag,region,exclusion_flag
0,26711,Female,Missouri,48,3,married,165665,196,Soda,77,...,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest,Include
1,26711,Female,Missouri,48,3,married,165665,196,Soda,77,...,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest,Include
2,26711,Female,Missouri,48,3,married,165665,196,Soda,77,...,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest,Include
3,26711,Female,Missouri,48,3,married,165665,6184,Clementines,32,...,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest,Include
4,26711,Female,Missouri,48,3,married,165665,6184,Clementines,32,...,Slowest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,Midwest,Include

Need to exclude them from the data

In [25]:
# Create dataframe with only 'Include' flagged
ords_prods_all = ords_prods_merge[ords_prods_merge['exclusion_flag'] == 'Include']

In [26]:
# Checking the new dataframe was create properly.
ords_prods_all.shape

(30964564, 31)

In [27]:
# Exporting new dataframe.
ords_prods_all.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_all.pkl'))

In [28]:
#5 Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents.

In [29]:
ords_prods_all.loc[(ords_prods_merge['age'] < 30) & (ords_prods_all['n_dependants'] >= 1) & (ords_prods_all['fam_status'] == "married"),'customer_profile_flag'] = 'Young family'

C:\Users\benar\AppData\Local\Temp\ipykernel_13688\2777597959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ords_prods_all.loc[(ords_prods_merge['age'] < 30) & (ords_prods_all['n_dependants'] >= 1) & (ords_prods_all['fam_status'] == "married"),'customer_profile_flag'] = 'Young family'

In [30]:
ords_prods_all.loc[(ords_prods_all['fam_status'] == "single") | (ords_prods_all['fam_status'] == "divorced/widowed") & (ords_prods_all['n_dependants'] == 0),'customer_profile_flag'] = 'Childless single'

In [31]:
ords_prods_all.loc[(ords_prods_all['age'] >= 30) & (ords_prods_all['n_dependants'] >= 1) & (ords_prods_all['fam_status'] == "married"),'customer_profile_flag'] = 'Mature family'

In [32]:
ords_prods_all.loc[(ords_prods_all['n_dependants'] >= 1) & (ords_prods_all['gender'] == "female") & (ords_prods_all['fam_status'] == "single"),'customer_profile_flag'] = 'Single mother'

In [33]:
ords_prods_all.loc[(ords_prods_all['n_dependants'] >= 1) & (ords_prods_all['gender'] == "male") & (ords_prods_all['fam_status'] == "single"),'customer_profile_flag'] = 'Single father'

In [34]:
ords_prods_all.loc[(ords_prods_all['fam_status'] == "living with parents and siblings") & (ords_prods_all['n_dependants'] >= 1),'customer_profile_flag'] = 'Single with family'

In [35]:
ords_prods_all['customer_profile_flag'].value_counts(dropna = False)

customer_profile_flag
Mature family         18854898
Childless single       7739681
Young family           2888813
Single with family     1481172
Name: count, dtype: int64

In [36]:
ords_prods_all.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_all_project.pkl'))