1) Import Libraries
2) Import Data
    - Check for null values
    - Check structure of dataframe
3) Merge Data
    - Merged on product_id column as key
    - Check for null values
    - Check merge with merge flag
    - Dropped merge flag
    - Exported new combined dataframe

# 01 Importing Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [2]:
path = r'C:\Users\benar\CareerFoundry\09-2023 Instacart Basket Analysis'

In [3]:
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'))

In [4]:
df_ords_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
# dropping weird index column on df_prods file
df_prods = df_prods.drop(columns = 'Unnamed: 0')

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#checking for null values
df_prods.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [9]:
df_ords_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [10]:
#Check the shape of the imported dataframe
df_ords_combined.shape

(32434489, 9)

In [11]:
df_prods.shape

(49672, 5)

# 03 Merge Data

#5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

Dataframes share product_id column as a key.

In [12]:
df_merged_large = df_prods.merge(df_ords_combined, on = 'product_id', indicator = True)

In [13]:
df_merged_large.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [14]:
#checking for null values
df_merged_large.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64

In [15]:
#6 Confirm the results of the merge using the merge flag.
df_merged_large['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
# dropping merge flag
df_merged_large_no_flag = df_merged_large.drop(columns = '_merge')

In [17]:
df_merged_large_no_flag.shape

(32404859, 13)

In [18]:
df_merged_large_no_flag.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1

In [19]:
#checking null values
df_merged_large_no_flag.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
dtype: int64

In [20]:
#7 Export Data
df_merged_large_no_flag.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))