1) Import Libraries
2) Import Data
3) Exercise
    - If Statements with User-Defined functions
    - If Statements with loc() function
        - Create price range flag column
    - If Statements with For-loops
        - Create busiest day column
4) Task
    - Create new column with "busiest days" (used for-loop)
    - Create new column called "busiest_period_of_day" (used for-loop)
    - Check frequency
    - Check null values
    - Export updated dataframe

# 01 Import Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
path = r'C:\Users\benar\CareerFoundry\09-2023 Instacart Basket Analysis'

In [3]:
df_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1

In [5]:
df_merged.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
dtype: int64

# 03 Exercise

## If-Statements with User-Defined Functions

In [6]:
# Create subset
df = df_merged[:1000000]

In [7]:
df.shape

(1000000, 13)

In [8]:
#Checking null values
df.isnull().sum()

product_id                    0
product_name                  0
aisle_id                      0
department_id                 0
prices                        0
order_id                      0
user_id                       0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_prior_order    66205
add_to_cart_order             0
reordered                     0
dtype: int64

In [9]:
# Define function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [10]:
# Apply function
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\benar\AppData\Local\Temp\ipykernel_27100\2728228575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [11]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [12]:
df['prices'].max()

24.5

## If-Statements with the loc() Function

In [13]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\benar\AppData\Local\Temp\ipykernel_27100\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [17]:
df_merged.loc[df_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
df_merged.loc[(df_merged['prices'] <= 15) & (df_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
df_merged.loc[df_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
df_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

## If-Statements with For-Loops

In [21]:
df_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [22]:
# Creating for loop
result = []

for value in df_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
df_merged['busiest_day'] = result

In [24]:
df_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# 04 Task

In [25]:
#2 Create a new column for "Busiest Days"
values = []

for value in df_merged["orders_day_of_week"]:
    if value <= 1:
        values.append("Busiest days")
    elif 3 <= value <= 4:
        values.append("Slowest days")
    else:
        values.append("Regularly busy")

In [26]:
df_merged['busiest_days'] = values

In [27]:
df_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

In [28]:
# checking busiest days
6204182 + 5660230

11864412

In [29]:
# checking slowest days
3840534 + 3783802

7624336

#3 Value counts check out.

In [30]:
#4 Create a new column called “busiest_period_of_day.”
df_merged['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [31]:
periods = []

for hour in df_merged["order_hour_of_day"]:
    if 9 <= hour <= 16:
        periods.append("Most orders")
    elif 7 <= hour <= 8:
        periods.append("Average orders")
    elif 17 <= hour <= 22:
        periods.append("Average orders")
    else:
        periods.append("Fewest orders")

In [32]:
df_merged['busiest_period_of_day'] = periods

In [33]:
#5 Check frequency
df_merged['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [34]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Slowest days,Average orders

In [36]:
#checking null values
df_merged.isnull().sum()

product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
price_range_loc                 0
busiest_day                     0
busiest_days                    0
busiest_period_of_day           0
dtype: int64

In [35]:
#7 Export dataframe
df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'ords_prods_merged_updated.pkl'))